name: Node.js CI

on:
  push:
    branches-ignore: docs
    tags-ignore: '**'
  pull_request:
    branches-ignore: docs

jobs:

  lint:

    name: Lint Files

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
    - run: |
        npm install
        npm run lint

  test:

    name: Test (Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }})

    runs-on: ${{ matrix.runs-on }}

    strategy:
      matrix:
        node-version: ['14.0.0', '14', '16', '18', '20', '22']
        runs-on: [ubuntu-latest]
        include:
        - node-version: '14.0.0'
          architecture: x64
          runs-on: macos-latest
        - node-version: '14.0.0'
          runs-on: windows-latest
        - node-version: '22'
          runs-on: macos-latest
        - node-version: '21'
          runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        architecture: ${{ matrix.architecture }}
    - run: |
        npm install
        npm test

  make-docs:

    name: Generate Documentation

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
    - run: |
        npm install
        npm run make-docs -- --no-gitignore
    - uses: actions/upload-artifact@v4
      with:
        name: docs
        path: docs

  publish-docs:

    if: github.ref == 'refs/heads/main'

    name: Publish Documentation

    needs: make-docs

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      with:
        name: docs
        path: docs
    - run: |
        cp _config.yml docs/
        git config --global user.email '<>'
        git config --global user.name 'GitHub Actions Workflow'
        git checkout -b docs
        git add docs
        git commit -m 'Publish documentation'
        git push --force --set-upstream origin docs
